{
  "extends": ["airbnb-typescript"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "jsx-a11y/href-no-hash": [0],
    "jsx-a11y/click-events-have-key-events": [0],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to"]
      }
    ],
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/mouse-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": [0],
    "jsx-a11y/no-autofocus": "off",
    "react/sort-comp": "off",
    "react/no-array-index-key": "off",
    "react/no-did-update-set-state": "off",
    "react/no-access-state-in-setstate": "off",
    "react/react-in-jsx-scope": [0],
    "react/forbid-prop-types": [0],
    "react/require-default-props": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "react/destructuring-assignment": [0],
    "import/extensions": [0],
    "import/no-unresolved": [0],
    "arrow-body-style": ["error", "as-needed", { "requireReturnForObjectLiteral": true }],
    "arrow-parens": ["error", "always"],
    "space-before-function-paren": ["error", { "anonymous": "always", "named": "never", "asyncArrow": "always" }],
    "object-curly-newline": ["error", { "consistent": true }],
    "function-paren-newline": ["error", "consistent"],
    "class-methods-use-this": [0],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "max-len": ["error", { "code": 200 }],
    "no-alert": "off",
    "max-classes-per-file": "off",
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "no-console": "off",
    "default-case": "off",
    "consistent-return": "off",
    "no-return-assign": "off"
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
