.tool-bar {
  position: absolute;
  z-index: 1;
  right: 8px;
  top: 8px;
  .button {
    min-width: 24px;
    height: 28px;
    margin-right: 5px;
    display: inline-block;
    cursor: pointer; 
    font-size: 14px;        
    line-height: 28px;
    text-align: center;
    color: #999;
    &:hover {
      color: #333;
    }
  }
}