@font-face {font-family: "rmel-iconfont";
  src: url('./iconfont.eot?t=1609742889962'); /* IE9 */
  src: url('./iconfont.ttf?t=1609742889962') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.rmel-iconfont {
  font-family: "rmel-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rmel-icon-tab:before {
  content: "\e76d";
}

.rmel-icon-keyboard:before {
  content: "\ed80";
}

.rmel-icon-delete:before {
  content: "\ed3c";
}

.rmel-icon-code-block:before {
  content: "\e941";
}

.rmel-icon-code:before {
  content: "\ed3b";
}

.rmel-icon-visibility:before {
  content: "\ed44";
}

.rmel-icon-view-split:before {
  content: "\ed45";
}

.rmel-icon-link:before {
  content: "\ed5f";
}

.rmel-icon-redo:before {
  content: "\ed60";
}

.rmel-icon-undo:before {
  content: "\ed61";
}

.rmel-icon-bold:before {
  content: "\ed6f";
}

.rmel-icon-italic:before {
  content: "\ed70";
}

.rmel-icon-list-ordered:before {
  content: "\ed71";
}

.rmel-icon-list-unordered:before {
  content: "\ed72";
}

.rmel-icon-quote:before {
  content: "\ed73";
}

.rmel-icon-strikethrough:before {
  content: "\ed74";
}

.rmel-icon-underline:before {
  content: "\ed75";
}

.rmel-icon-wrap:before {
  content: "\ed77";
}

.rmel-icon-font-size:before {
  content: "\ed78";
}

.rmel-icon-grid:before {
  content: "\ed8c";
}

.rmel-icon-image:before {
  content: "\ed8d";
}

.rmel-icon-expand-less:before {
  content: "\ed9f";
}

.rmel-icon-expand-more:before {
  content: "\eda0";
}

.rmel-icon-fullscreen-exit:before {
  content: "\eda1";
}

.rmel-icon-fullscreen:before {
  content: "\eda2";
}

