name: main

on:
  push:
    branches:
    - master
    - dev
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v4
    - uses: pnpm/action-setup@v4
      with:
        version: 9
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: pnpm i --frozen-lockfile
    - name: Build
      run: npm run build
    - name: Test
      run: npm run test
    - name: Coverage
      run: npm run coverage
    - name: Upload bundles
      uses: actions/upload-artifact@v4
      with:
        name: lib
        retention-days: 7
        path: |
          esm
          cjs
          lib
          preview
    - name: Upload coverage
      uses: actions/upload-artifact@v4
      with:
        name: coverage
        retention-days: 7
        path: coverage

